@import "variables";

p,
span,
h1 {
  b,
  strong {
    font-weight: inherit;
    color: var(--color_SMALL-TEXT);
  }
}
input {
  background: #04251d;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  padding: 8px 10px;
  color: #79ffaf;
  // line-height: 40px;
  line-height: 24px;
  &::placeholder {
    color: #79ffaf;
    opacity: 0.5;
  }
  &:focus {
    outline: none;
  }
}

.iconsax_building4 {
  background-image: url("/images/Iconsax/building4.svg") !important;
}
.iconsax_cup {
  background-image: url("/images/Iconsax/cup.svg") !important;
}
.iconsax_shieldsecurity {
  background-image: url("/images/Iconsax/shieldsecurity.svg") !important;
}
.iconsax_profile2user {
  background-image: url("/images/Iconsax/profile2user.svg") !important;
}
.iconsax_key {
  background-image: url("/images/Iconsax/key.svg") !important;
}
.button_ico{
  padding-left: 30px!important;
  background-repeat: no-repeat;
  background-position: 6px 50%;
}
.button_white{
  color: var(--color_KRYPTO-SEC)!important;
  background-color: white;
  padding: 6px 10px;
  border-radius: 11px;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.25s, color 0.25s;
  &:hover {
    background-color: var(--color_BUTTON);
    color: black;      
  }
}

.button_green {
  background-color: var(--color_BUTTON);
  padding: 6px 10px;
  border-radius: 11px;
  font-size: 16px;
  text-decoration: none;
  color: black;
  display: inline-block;
  transition: background-color 0.25s, color 0.25s;
  &:hover {
    color: var(--color_KRYPTO-SEC);
    background-color: white;
  }
}

.navigation_container {
  // position:fixed;
  position: fixed;
  top: 0;
  // position: relative;
  background-color: #00120e;
  background: linear-gradient(0deg, #00120e00 0%, #00120eaa 50%, #00120eff 95%);
  z-index: 10;
  width: calc(100% + 2px);
  left: -1px;
  transition: transform 0.5s, opacity 0.5s;

  &.hide {
    transform: translateY(-110px);
    opacity: 0;
  }
}

.navigation {
  max-width: 1360px;
  margin: auto;
  top: 0;
  padding: 0 10px;
  display: flex;
  min-height: 110px;
  @media only screen and (max-width: $width_breakpoint3) {
    justify-content: space-between;
  }

  .navigation_nav {
    flex-grow: 1;
    @media only screen and (max-width: $width_breakpoint3) {
      // flex-grow: 0;
    }
    .navigation_nav_mobile {
      // position: absolute;
      left: 0;
      width: 100%;
      display: none;
      @media only screen and (max-width: $width_breakpoint3) {
        display: block;
      }
    }
    .navigation_nav_desktop {
      display: block;
      @media only screen and (max-width: $width_breakpoint3) {
        display: none;
      }
    }
  }
  nav {
    .navigation_burger {
      display: none;
      @media only screen and (max-width: $width_breakpoint3) {
        display: block;
        margin-top: -10px;
      }
      background-image: url("/images/Iconsax/textalign-justifycenter.svg");
      position: absolute;
      // position: relative;
      z-index: 10;
      width: 50px;
      height: 50px;
      top: 0;
      right: 0;
      background-position: 50%;
      background-repeat: no-repeat;
      &.active {
      }
    }

    @media only screen and (max-width: $width_breakpoint3) {
      position: relative;
    }
    ul {
      @media only screen and (max-width: $width_breakpoint3) {
        padding-top: 50px;
      }
    }
    &:has(> .navigation_burger.active) {
      .navigation_items {
        visibility: hidden;
        height: 0;
        margin-bottom: 0px;
      }
    }
  }
}

.navigation_logo {
  background-image: url("/images/LOGO_KRYPTOSTONE.svg");
  // flex-grow:1;
  margin-top: 25px;
  z-index: 2;
  height: 38px;
  width: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  @media only screen and (max-width: $width_breakpoint3) {
    position: absolute;
  }
}

.navigation_items_locales {
  // background-color: red;
  margin-left: 10px;
  li{
    cursor: pointer;
  &:hover{
    opacity: 0.5;
  }
  }
}
.navigation_items {
  // flex-grow: 1;
  text-align: center;
  margin-top: 27px;
  display: flex;
  justify-content: flex-end;


  @media only screen and (max-width: $width_breakpoint3) {
    justify-content: flex-start;
    flex-direction: column;
    // align-items: end;
    margin-bottom: 450px;
  }

  li {
    // display: inline-block;

    // width: fit-content;
    @media only screen and (max-width: $width_breakpoint3) {
      text-align: center;
      a {
        border: none;
      }
    }

    a {
      // background-color: #333;
      color: white;
      border-radius: 11px;
      border: 1px solid #fff0;
      margin: 0 5px;
      padding: 0 10px;
      display: block;
      height: 32px;
      line-height: 28px;

      &.active {
        border-color: #ffff;
        pointer-events: none;
      }

      text-decoration: none;
      color: white;

      &:visited {
      }
    }
  }
}

.footer {
  background-color: aqua;
}

.frame__top {
  border-radius: 30px;
  position: relative;
  background-color: var(--color_BACKGROUND-LIGHT);

  &:after {
    z-index: -2;
    content: "";
    top: -1px;
    left: -1px;
    position: absolute;
    width: calc(2px + 100%);
    height: calc(2px + 100%);
    z-index: -1;
    //
    background-image: linear-gradient(
      180deg,
      #9fffdd 0%,
      rgba(121, 255, 175, 0.7) 27.88%,
      rgba(117, 255, 156, 0.2) 55.05%,
      rgba(117, 255, 156, 0) 100%
    );

    border-radius: inherit;
  }
}

.section_frame__top,
.section_frame__bottom {
  border-radius: 30px;
  position: relative;
  background-color: var(--color_BACKGROUND-LIGHT);

  &.textured {
    &:before {
      z-index: -1;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--color_BACKGROUND);
      background-image: url("/images/HERO_SECTION.jpg");
      // background-position: 0 -100px;
      // background-size: 100%;
      background-size: cover;
      // background-size: contain;
      background-repeat: no-repeat;
      border-radius: inherit;
      top: 0px;
      left: 0px;
    }

    &:after {
      background-image: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.5) 0.55%,
        rgba(255, 255, 255, 0.4) 57%,
        rgba(255, 255, 255, 0) 92.35%
      );
    }
  }

  &:after {
    z-index: -2;
    content: "";
    top: -1px;
    left: -1px;
    position: absolute;
    width: calc(2px + 100%);
    height: calc(2px + 100%);

    //
    background-image: linear-gradient(
      180deg,
      #9fffdd 0%,
      rgba(121, 255, 175, 0.7) 27.88%,
      rgba(117, 255, 156, 0.2) 55.05%,
      rgba(117, 255, 156, 0) 100%
    );

    border-radius: inherit;
  }

  min-height: 350px;
}

.section_frame__bottom {
  &:before {
    transform: rotate(180deg);
    // background-position: 100% calc(100% - 250px) !important;
    // background-position-y: - 250px !important;
    // background-position-y: calc(-150px + min(0px, var(--width_margin))) !important;
    background-position-y: calc(-150px) !important;
  }

  &:after {
    transform: rotate(180deg);
  }
}

.home_hero__section {
  // height: 742px;
  min-height: 472px;
  padding: 73px 60px 0 64px;

  @media only screen and (max-width: $width_breakpoint1) {
    padding: 50px 50px 0 50px;
  }
  @media only screen and (max-width: $width_breakpoint3) {
    padding: 20px 20px 0 20px;
  }

  color: white;
  display: flex;
  gap: 50px;

  .home_hero__section_text {
    h2 {
      letter-spacing: -0.04em;
      font-size: 64px;
      line-height: 64px;
      @media only screen and (max-width: $width_breakpoint3) {
        font-size: 44px;
        line-height: 44px;
      }
    }

    p {
      margin-top: 46px;
      font-size: 18px;
      line-height: 25px;
    }

    .home_hero__section_nav {
      margin-top: 46px;

      li {
        display: inline-block;
        margin-right: 15px;
        height: 50px;

        a {
          padding: 6px 10px;
          border: 1px solid #ffffff;
          border-radius: 11px;
          text-decoration: none;

          &:visited {
            color: inherit;
          }
        }
      }
    }
  }

  .home_hero__section_image {
    // background-color: red;

    flex: 0 0 399.12px;

    position: relative;

    @media only screen and (max-width: $width_breakpoint1) {
      display: none;
    }

    figure {
      background-image: url("/images/home.hero.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      // position: absolute;
      position: relative;
      // flex: 1 1 399.12px;
      height: 671.25px;
      width: 100%;
      right: -50px;
      top: -13px;
      filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
      border-radius: 30px;
    }
  }
}

.home__title {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;

  & > h3 {
    font-size: 13px;
    line-height: 18px;
    color: var(--color_SMALL-TEXT);
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }

  & > h2 {
    font-size: 38px;
    line-height: 44px;
  }
}

.home_discover__pool__content {
  .loader {
    position: relative;
    width: 100%;
  }

  ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    li {
      height: 521px;
      width: calc(25% - (30px / 4));
      transition: width 0.65s;

      &:nth-child(5) {
        width: calc(50% - 5px);
      }

      @media only screen and (max-width: $width_breakpoint1) {
        width: calc(33% - (30px / 3)) !important;
      }

      @media only screen and (max-width: $width_breakpoint2) {
        width: calc(50% - (30px / 2)) !important;
      }

      @media only screen and (max-width: $width_breakpoint3) {
        width: calc(100%) !important;
      }
    }
  }
}

.pool_card_see_more,
.pool_card_more_soon {
  background: none;
  border: 1px solid var(--color_SMALL-TEXT);
  @media only screen and (max-width: $width_breakpoint3) {
    height: 180px !important;
  }
}

.pool_card_see_more > a,
.pool_card_more_soon {
  padding: 50px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  & > span {
    &:before {
      content: "";
      background-image: url("/images/Iconsax/elementplus.svg") !important;
      background-repeat: no-repeat;
      background-position: 50%;
      width: 100%;
      height: 60px;
      position: relative;
      display: block;
    }
  }

  &:after {
    display: none;
  }

  //
}

.pool_card_more_soon {
  padding: 30px !important;

  & > span {
    &:before {
      content: "";
      background-image: url("/images/Iconsax/hometrendup.svg") !important;
    }
  }
}

.pool_card,
.pool_card_see_more,
.pool_card_more_soon {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--color_BACKGROUND-LIGHT);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 30px;
  overflow: hidden;

  & > a,
  & > div {
    padding: 18px;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    // background-color: #00f5;
  }

  & > a {
    text-decoration: none;
    color: inherit;
    transition: transform 0.25s, opacity 0.25s;

    &:hover {
      opacity: 0.8;
      transform: translateY(-10px);
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: color 1.5s;
    color: rgba(0, 0, 0, 1);
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 20%,
      // rgba(0, 0, 250, 1) 30%,
      currentColor 100%
    );
  }

  &:has(> a:hover) {
    &:after {
      color: #04251d;
      // transform:translateY(-50px)
    }
  }

  .invested {
    position: absolute;
    top: 18px;
    left: 18px;
    background: linear-gradient(
      90deg,
      rgba(159, 255, 221, 0.3) 0%,
      rgba(121, 255, 175, 0.3) 47.4%,
      rgba(117, 255, 156, 0.3) 100%
    );
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid var(--color_SMALL-TEXT);
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
    height: 100%;
    z-index: 1;
    position: relative;

    h1 {
      //   margin-top: 256px;
      // flex-grow: 2;
      font-size: 28px;
      line-height: 34px;
      vertical-align: bottom;
    }

    p {
      font-size: 13px;
      line-height: 18px;
    }

    .diversification {
      margin-top: 10px;

      p {
        span {
          margin-right: 20px;
          display: inline-block;
          position: relative;

          &:not(:last-child):after {
            content: "";
            position: absolute;
            width: 1px;
            right: -10px;
            height: 12px;
            top: 4px;
            background-color: white;
          }
        }
      }
    }
  }
}

.home_discover__information {
  // background-color: red;
}

.home_whyinvest {
  // width: 1040px;
  // width: 100%;
  margin: auto;
  margin: 0 100px;
  margin-bottom: 120px;
  @media only screen and (max-width: $width_breakpoint2) {
    margin: 0 10px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    li {
      width: calc(50% - 10px);

      @media only screen and (max-width: $width_breakpoint1) {
        width: calc(100%);
        // padding: 0 50px;
      }

      h1 {
        background-image: url("/images/Iconsax/award.svg");
        background-repeat: no-repeat;
        // background-position: 0 50%;
        background-position: 0 2px;
        padding-left: 25px;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 30px;
        position: relative;

        &:after {
          content: "";
          left: 0;
          bottom: 0;
          position: absolute;
          width: 100%;
          height: 1px;
          bottom: -15px;
          background-color: white;
        }
      }

      p {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}

.home_whoweare {
  width: 887px;
  margin: auto;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
}

.home_partners,
.home_press {
  margin-bottom: 120px;

  ul {
    display: flex;
    gap: 10px;
    justify-content: center;

    li {
      width: 175px;
      height: 175px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
    }
  }

  p {
    text-align: center;
  }
}

.section_header {
  & > h3 {
    font-size: 13px;
    line-height: 18px;
    color: var(--color_SMALL-TEXT);
    text-transform: uppercase;
  }

  & > header {
    display: flex;
    gap: 100px;
    margin-top: 10px;
    margin-bottom: 50px;
    @media only screen and (max-width: $width_breakpoint2) {
      flex-direction: column;
      gap: 30px;
    }

    & > div {
      position: relative;
      flex-grow: 1;
      flex: 1 1 0px;

      // background-color: #f0f1;
      &.section_header_column {
        &:first-child {
          flex-grow: 1.4;

          &:after {
            content: "";
            width: 1px;
            opacity: 0.3;
            background-color: currentColor;
            position: absolute;
            top: 0px;
            //   height: calc(100% - 20px);
            height: 104px;
            right: -50px;
          }
        }
      }

      &:last-child {
        & > p {
          margin-bottom: 20px;
        }
      }

      & > h1 {
        font-size: 44px;
        // line-height: 62px;
        margin-bottom: 40px;

        & > span {
          display: inline-block;
          width: 4px;
          height: 32px;
          opacity: 0.3;
          margin: 0 15px;
          background-color: currentColor;
        }
      }

      & > p {
        font-size: 18px;
        line-height: 25px;
      }
    }
  }
}

.pool_detail_frame_pool_loader {
  background-color: #00000030;
  border-radius: 30px;
}

.pool_detail_frame_pool_loader {
  width: 409px;
  height: 513px;
}

// .pool_detail_info_loader {
//     width: 747px;
//   height: 270px;
// }

.pool_detail_frame {
  padding: 50px;
  gap: 48px;
  display: flex;

  @media only screen and (max-width: $width_breakpoint1) {
    flex-direction: column;
    padding: 20px;
  }

  .pool_detail_frame_pool {
    // width: 465px;
    // height: 856px;
    background: #00120e;
    border-radius: 30px;
    padding: 28px;
    // margin: auto;

    & > li {
    }

    .pool_detail_frame_pool_card {
      display: flex;
      flex-direction: column;

      @media only screen and (max-width: $width_breakpoint1) {
        flex-direction: row;
        gap: 35px;
      }

      @media only screen and (max-width: $width_breakpoint2) {
        display: block;
      }

      & > .pool_card {
        height: 513px;
        max-width: 409px;
        flex: 0 0 409px;
      }
    }

    .pool_detail_frame_pool_card_footer {
      flex: 0 0 auto;
      width: 409px;

      @media only screen and (max-width: $width_breakpoint1) {
        flex: 1 1 auto;
      }

      // width: 409px;
      & > ul {
        gap: 0 14px;

        & > li {
          width: calc(50% - 7px);
        }
      }
    }
  }

  .pool_detail_extra {
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 100%;

    h1 {
      font-size: 44px;
      line-height: 62px;
      letter-spacing: -0.04em;
      padding-left: 45px;
      background-repeat: no-repeat;
      background-position: 0 50%;
    }

    .pool_detail_info {
      ul {
        gap: 0 33px;

        & > li {
          width: calc(33% - 20px);
        }
      }
    }
  }

  .pool_detail_frame_pool_card_footer,
  .pool_detail_info {
    & > ul {
      display: flex;
      flex-wrap: wrap;

      & > li {
        font-size: 16px;
        margin-top: 22px;

        & > span {
          margin-top: 11px;
          font-size: 18px;
          text-align: center;
          display: block;
          height: 41px;
          line-height: 41px;
          background: var(--color_BACKGROUND-LIGHT-2);
          border-radius: 10px;
        }

        &.fullWidth {
          width: 100%;

          & > span {
            border: 1px solid var(--color_SMALL-TEXT);
            // border-image-source: linear-gradient(90deg, #9FFFDD 0%, #79FFAF 47.4%, #75FF9C 100%);
          }
        }
      }
    }
  }

  /*
  .pool_detail_frame_pool_preview {
    width: 409px;
    height: 513px;
    border-radius: 30px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 18px;
    // background: #ff120E;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      //   height: 200%;
      transition: color 1.5s;
      border-radius: inherit;
      //   color
      color: rgba(0, 0, 0, 0.9);
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 20%,
        // rgba(0, 0, 250, 1) 30%,
        currentColor 100%
      );
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    & > div {
      z-index: 2;
    }
  }
  */
}

.faq_content {
  & > ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    & > div {
      gap: 20px;
      & > li {
        //   width: calc(50% - 10px);
        background: var(--color_BACKGROUND-LIGHT-2);
        border-radius: 30px;
        padding: 24px 30px;
        padding-bottom: 0px;
        overflow: hidden;
        transition: opacity 0.5s, height 0.5s;

        &.open {
          & > p {
            // display: block;
            // margin-top: 20px;
            opacity: 1;
            height: fit-content;
            margin-bottom: 20px;
          }
          & > h1 {
            &:after{
              transform: scaleY(-1);
            }
          }
        }

        & > h1 {
          font-size: 24px;
          line-height: 34px;
          position: relative;
          padding-right: 30px;
          &:after{
            content: '';
            width: 24px;
            height: 24px;
            right: 0;
            top: 0;
            position: absolute;
            background-image: url('images/Iconsax/arrowdown2.svg');
            background-repeat: no-repeat;
            background-position: 100% 0px;
          }
          margin-bottom: 20px;
          cursor: pointer;
        }

        & > p {
          font-size: 18px;
          line-height: 25px;
          // margin-top: 0px;
          // margin-top: 20px;
          height: 0px;
          margin-bottom: 0px;
          transition: opacity 0.5s, height 0.5s;
          opacity: 0;
          // display: none;
        }
      }
    }
  }
}

.home_whoweare_people {
  margin: 76px auto 0 auto;
  padding-bottom: 100px;
  width: calc(200px * 3 + 20px * 2);
  position: relative;

  & > .home_whoweare_people_arrow_left,
  & > .home_whoweare_people_arrow_right {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50px;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity 0.25s;
    &.disable {
      opacity: 0.4 !important;
      pointer-events: none;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  & > .home_whoweare_people_arrow_left {
    left: -50px;
    background-image: url("/images/Iconsax/arrowleft.svg");
  }

  & > .home_whoweare_people_arrow_right {
    right: -50px;
    background-image: url("/images/Iconsax/arrowright.svg");
  }

  & > .home_whoweare_people_container {
    overflow: hidden;

    & > ul {
      margin: auto;
      display: flex;
      flex-wrap: nowrap;
      gap: 20px;
      transition: transform 0.25s;

      & > li {
        flex: 0 0 200px;
        overflow: hidden;
        text-align: center;
        font-size: 10px;
        white-space: nowrap;

        & > img {
          border-radius: 50%;
          width: 160px;
          filter: grayscale(0.9);
        }

        & > h1 {
          font-size: 18px;
          line-height: 25px;
          // position: absolute;
        }

        & > h2 {
          font-size: 13px;
          line-height: 18px;
          color: var(--color_SMALL-TEXT);
        }
      }
    }
  }
}

.home_testimonials {
  margin: 76px auto 100px auto;
  // padding-bottom: 100px;
  // background-color: red;
  // width: min(100%, calc(390px * 3 + 40px * 2));
  width: 100%;
  position: relative;

  & > .home_testimonials_arrow_left,
  & > .home_testimonials_arrow_right {
    position: absolute;
    width: 250px;
    min-width: calc(100vw / 2 - 50%);
    height: 100%;
    top: 0px;

    cursor: pointer;
    &.disable {
      opacity: 0.01 !important;
      pointer-events: none;
    }

    // background: linear-gradient(0deg, #00120e00 0%, #00120eaa 50%, #00120eff 95%);

    // transition: opacity 0.25s;

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-position: 50%;
      background-repeat: no-repeat;
      // background-image: url("/images/Iconsax/arrowleft.svg");
    }

    // &:hover {
    //   opacity: 0.5;
    // }
  }

  & > .home_testimonials_arrow_left {
    left: min(-10px, calc(50% - 100vw / 2));
    @media only screen and (max-width: $width_breakpoint1) {
      margin-left: -90px;
    }
    background: linear-gradient(90deg, var(--color_BACKGROUND) 40%, #0000 100%);

    &:after {
      background-image: url("/images/Iconsax/arrowleft.svg");
    }
  }

  & > .home_testimonials_arrow_right {
    right: min(0px, calc(50% - 100vw / 2));
    @media only screen and (max-width: $width_breakpoint1) {
      margin-right: -90px;
    }
    background: linear-gradient(
      -90deg,
      var(--color_BACKGROUND) 40%,
      #0000 100%
    );
    &:after {
      background-image: url("/images/Iconsax/arrowright.svg");
    }
  }

  & > .home_testimonials_container {
    // overflow: hidden;
    & > div {
      transition: transform 0.25s;
      display: flex;
      flex-wrap: nowrap;
      gap: 40px;
      margin-left: calc(50% + 20px);

      @media only screen and (max-width: $width_breakpoint1) {
        margin-left: calc(50% + 460px - 270px / 2);
      }
      & > ul {
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
        gap: 40px;
        @media only screen and (max-width: $width_breakpoint1) {
          gap: 190px;
        }
        & > li {
          position: relative;
          flex: 0 0 420px;
          width: 420px;
          @media only screen and (max-width: $width_breakpoint1) {
            flex: 0 0 270px;
            width: 270px;
          }
          &:before{
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            z-index: 2;
            right: 30px;
            top: 30px;
            // background-color: red;
            background-repeat: no-repeat;
            background-position: 100% 0;
            background-image: url('/images/Iconsax/quotedown.svg');
          }

          & > div {
            height: 226px;
            border-radius: 30px;
            position: relative;
            font-size: 10px;
            padding: 30px;
            // white-space: nowrap;
            margin-top: 1px;

            & > img {
              border-radius: 50%;
              width: 45px;
              filter: grayscale(0.9);
              position: absolute;
              left: 30px;
              // top: 30px;
            }

            & > h1 {
              font-size: 18px;
              line-height: 25px;
              position: absolute;
              left: 90px;
              // position: absolute;
            }

            & > h2 {
              font-size: 13px;
              line-height: 18px;
              color: var(--color_SMALL-TEXT);
              position: absolute;
              top: 55px;
              left: 90px;
            }

            & > p {
              margin-top: 65px;
              font-size: 18px;
              line-height: 25px;
              white-space: normal;
              @media only screen and (max-width: $width_breakpoint1) {
                font-size: 14px;
                line-height: 21px;
              }
            }
          }
        }
      }
    }
  }
}

.login {
  position: absolute;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  & > .login_bg {
    position: absolute;
    background-color: #000d;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  & > .login_frame {
    position: relative;
    margin: auto;
    width: 492px;
    // height: 694px;
    padding: 26px;
    text-align: center;

    /* BACKGROUND-LIGHT */

    background: #001712;
    border-radius: 50px;
    & > .login_frame_content {
      background: #00120e;
      border-radius: 30px;
      padding: 54px 70px 54px 70px;
      & > h1 {
        font-size: 44px;
        line-height: 62px;
      }
      & > p {
        color: var(--color_SMALL-TEXT);

        font-size: 13px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
      }
      form {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        // input {
        //   background: #04251d;
        //   border-radius: 10px;
        //   border: none;
        //   font-size: 16px;
        //   padding: 8px 10px;
        //   color: #79ffaf;
        //   line-height: 40px;
        //   &::placeholder {
        //     color: #79ffaf;
        //     opacity: 0.5;
        //   }
        //   &:focus {
        //     outline: none;
        //   }
        // }
        div {
          flex: 0 0 auto;
          button {
            cursor: pointer;
            margin-top: 40px;
            background-color: #00ef8d;
            border-radius: 11px;
            border: none;
            height: 34px;
            font-size: 16px;
            padding: 6px 10px 6px 27px;
            background-image: url("/images/Iconsax/key.svg");
            background-repeat: no-repeat;
            background-position: 8px 50%;
          }
        }
      }
    }
    & > .login_frame_footer {
    }
  }
}

.create_account {
  .create_account_content {
    background: #001712;
    border-radius: 30px;
    padding: 54px 80px;
    display: flex;
    margin-top: 130px;
    gap: 60px;
    & > .create_account_title {
      flex: 0 0 420px;
      & > h1 {
        font-size: 44px;
        line-height: 62px;
        /* identical to box height, or 141% */

        letter-spacing: -0.04em;
      }
      & > h2 {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--color_SMALL-TEXT);
      }
      ul {
        margin-top: 30px;
        li {
          background-repeat: no-repeat;
          background-position: 0 50%;
          padding-left: 35px;
          font-size: 24px;
          line-height: 34px;
          letter-spacing: -0.04em;
          margin-bottom: 10px;
        }
      }
    }
    form {
      display: flex;
      flex-wrap: wrap;
      //   gap: 22px 12px;
      gap: 22px 0px;
      height: fit-content;
      & > div {
        gap: 12px;
      }
      input {
        height: 34px;
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
      }
    }
  }
  .create_account_footer {
    margin-top: 33px;
    text-align: center;
  }
}

.tmp1 {
  display: flex;
  flex-wrap: wrap;
}
.tmp2 {
  width: 20%;
  margin-bottom: 20px;
  text-align: center;
  font-size: 10px;
  @media only screen and (max-width: $width_breakpoint2) {
    width: 30%;
  }
  @media only screen and (max-width: $width_breakpoint3) {
    width: 50%;
  }
  span {
    margin-top: 20px;
    position: relative;
    display: block;
    background-color: var(--color_KRYPTO-SEC);
    width: 128px;
    height: 128px;
    border-radius: 50%;
    left: 50%;
    margin-left: -64px;
  }
}
