

@import 'reset.css';
@import 'fonts.css';

html{
    font-family: "manrope";
    font-weight: 400;
    background-color:#00120E;
    color:#fff;
}
body{
    margin: 0;
    padding: 0;

}
#root{
}

.purpleSquare
{
    width: 200px;
    height: 200px;
    background-color: mediumpurple;
}

.appContainer{
    max-width: 1360px;
    margin: auto;
    /* background-color: #00120E; */
}

content{
    min-height: calc(100vh - 100px);
    display: block;
}